################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/SeoAnalyzer/bin
/SeoAnalyzer/obj/Debug
/CoreLibrary/bin/Debug
/CoreLibrary/obj/Debug
